mixin parseComments(comments)
    div
        each item, i in comments
            div(class = 'col-md-12')
                div
                    include comment_template

                    if(item.children.length != 0)
                        mixin parseComments(item.children)

+parseComments(comments)