mixin parseComments(_data)
    div
        each item, i in _data.errors
            div= item.property

    div
        each item, i in _data.comments
            div(class = 'col-md-12')
                div
                    include comment_template

                    if(item.children.length != 0)
                        mixin parseComments(item.children)

+parseComments(_data)