extends layout


block content
  h1= 'Comments Page'

  button.create_new_comment.btn.btn-primary(type='button') Add new comment

  .container
    div#fields

      div#modal_field
        include modal_form

      div#comments_field
        include comment_generator
